@model Factory.Models.Engineer

<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    @using (Html.BeginForm())
    {
      <p>@Html.LabelFor(model => model.Name): @Html.TextBoxFor(model => model.Name)</p>
      <p>@Html.LabelFor(model => model.Description): @Html.TextBoxFor(model => model.Description)</p>
      <input name="submit" type="submit" value="Submit" />
    }
  </body>
</html>